header {
    height: 110px;
    display: flex;
    padding: 30px;
    box-shadow: 0 0 5px 0 #0003;
    justify-content: space-between;
    align-items: center;
    background-color: chartreuse;

}
.header__menu {
    display: flex;
    gap: 20px;
}
